.page-footer {
  @include clear();
  background: $default-green;
  color: #fff;
  padding-top: 10px;

  &.repositorio {
    background: $grey-light-default;
    color: $green-dark-default;
  }
}

.sub-footer {
  @include clear();
  background: $dark-green;
  padding: 15px 0;

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.footer-box {
  display: inline-block;
  @include span(3);
  @include clear();


  .title {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 15px;
    h4 {
      margin: 0;
      padding-top: 0;
    }
  }

  .title,
  .item {
    list-style: none;
    display: block;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .item {
    font-size: 9pt;
    padding-bottom: 5px;
    display: block;

  }

  .footer-box {
    width: 100%;
    margin-top: 20px;
  }
}
