//Tipos de cabecalhos
.magazine {
  color: $text-magazine-color;
  a {
    color: inherit;
    text-decoration: none;
  }
}
.portal {
  color: $text-portal-color;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.repositorio {
  color: $green-dark-default;
  a {
    color: inherit;
    text-decoration: none;
  }
}

//Barra de idiomas
.language-bar {
  width: 100%;
  text-align: center;
  font-size: 10pt;

  //Desktop, flutuada a esquerda
  @media(min-width: $screen-mid-size) {
    @include span(6 last);
    text-align: right;
    display: inline-block;
  }
}

.accessibility-bar {
  width: 100%;
  text-align: center;
  font-size: 8pt;
  @media(min-width: $screen-mid-size) {
    @include span(6);
    text-align: left;
    display: inline-block;
  }
}

//Lista com links
.link-list {
  display: inline-block;
  margin: 0 0 0 24px;
  padding: 0;

  .item {
    display: inline-block;
    margin-left: 13px;
    margin-right: 0;
    padding: 0;
    &.first {
      margin: 0;
    }
  }

  &.first {
    margin: 0;
  }

}

/*
Container das redes sociais
============================*/
.media-container {
  margin-top: -($header-padding-bottom); //tirando do fluxo
  @media(min-width: $screen-mid-size) {
    @include span(4 last);
  }
}

/*  Icones sociais
===========================*/
.social {
  width: 22px;
  height: 22px;
  margin-left: 5px;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  float: right;
  background-position: center; 
  background-size: cover;
}
/*  Icones nas Revistas
===========================*/
.facebook {
  background: url("../images/facebook.png") no-repeat;
}
.twitter {
  background: url("../images/twitter.png") no-repeat;
}
.youtube {
  background: url("../images/youtube-magazine.png") no-repeat;
}

.flikr {
  background: url("../images/flikr-magazine.png") no-repeat;
}

/*  Icones no Portal
===========================*/
.portal {
  .facebook {
    background: url("../images/facebook-portal.png") no-repeat;
  }
  .twitter {
    background: url("../images/twitter-portal.png") no-repeat;
  }
  .youtube {
    background: url("../images/youtube-portal.png") no-repeat;
  }

  .flikr {
    background: url("../images/flikr-portal.png") no-repeat;
  }
}

/*  Icones no Repositório
===========================*/
.repositorio {
  .facebook {
    background: url("../images/icons/facebookrepo.png") no-repeat;
  }
  .twitter {
    background: url("../images/icons/twitterrepo.png") no-repeat;
  }
  .youtube {
    background: url("../images/icons/youtuberepo.png") no-repeat;
  }

  .feed {
    background: url("../images/icons/feedrepo.png") no-repeat;
  }
}


/*Container do header
============================*/
.page-header {
  @include clear();
  padding-top: 15px;

  &.portal {
    background: linear-gradient(to top, #00510f, #17882c);
  }

  &.magazine {
    background: #fff;
  }

  &.repositorio {
    background: $grey-light-default;
  }
}

/*  Conteúdo central do header
============================*/
.center-content {
  @include container;
  padding-top: 30px;
  // padding-bottom: $header-padding-bottom;
  .header-logo {
    @include span(12);
    min-height: 90px;
    @media (min-width: $screen-mid-size) {
      @include span(6);
    }
  }
}

.header-logo {
  span {
    font-size: 9pt;
    text-transform: uppercase;
  }
  .page-name {
    font-size: 36pt;
    line-height: 36pt;
    margin: 0;
    &.default {
      line-height: 50pt;
    }
  }
}

/*  Barra de Login-Logout
============================*/
.actions-bar {
  @include span(12);
  padding: 4px 0;
  margin-top: 15px;
  font-size: 9pt;
  text-align: center;
  @media (min-width: $screen-mid-size) {
    text-align: right;
  }
}
.portal .actions-bar {
  background: #01430c;
}

.magazine .actions-bar {
  background-image: linear-gradient(to bottom, #e8e8ea, #cfcec9); 
}

.repositorio .actions-bar {
  background: linear-gradient(to bottom, $grey-light-option, $grey-light-option 80%, $grey-medium-option);
}

/*  Lista do menu superior (action)
============================*/
.actions-bar .list-menu {
  padding: 0;
  margin: 0;
  text-align: left;
  display: block;

  .item {
    display: inline-block;
    border-right: 1px solid $grey-medium-border;
    padding: 0 8px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border: 0;
      padding-right: 0;
    }
  }
}
