.page-sidebar {
  display: none;
  .sidebar-top {
    margin-bottom: 40px;
  }
  @media (min-width: $screen-mid-size) {
    max-width: 220px;
    @include span(3 first);
    display: block;
  }
}

.page-sidebar {
  .box {
    padding: 0;
    margin: 0;
    display: block;
    margin-bottom: 40px;

    .item {
      display: block;
      padding-left: 8px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $boder-ligthen-grey;
      font-size: 12pt;
      a {
        display: block;
        color: $text-grey;
        text-decoration: none;
      }
    }
    
    .header {
      @extend %header;
      padding-top: 5px;
      padding-bottom: 25px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.page-sidebar .box {
  .item {
    &.i-search {
      background: url(../images/icons/search.png);
    }
    &.i-books {
      background: url(../images/icons/books.png);
    }
    &.i-calendar {
      background: url(../images/icons/calendar.png);
    }
    &.i-science {
      background: url(../images/icons/calendar.png);
    }
    &.i-academic {
      background: url(../images/icons/calendar.png);
    }
    &.i-stackedbooks {
      background: url(../images/icons/stackedbooks.png);
    }

    &.i-search, 
    &.i-books,
    &.i-calendar,
    &.i-science,
    &.i-academic,
    &.i-stackedbooks {
      background-repeat: no-repeat;
      background-position: 5px center;
      min-height: 36px;
      padding-left: 50px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}