/*  Imagen
======================*/
.img-float-left {
  float: left;
  margin: 10px;
}
.img-frame {
  border: 1px solid $boder-ligthen-grey;
}

/*  Bordas
======================*/
.border-box {
  padding-bottom: 35px;
  border-bottom: 5px solid $default-green;
}
.border-title-light {
  border-bottom: 1px solid $boder-ligthen-grey;
  padding-bottom: 15px;
}

/*  Textos em estado
======================*/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}