/*  Ãcones de comunidades
=====================================*/
.community-icons {
  @include clear();

  & > div {
    padding-bottom: 1.66666%;
  }

  & img {
    display: block;
    margin: 0 auto;
  }

  .community-active {
    display: block;
    background: $community-active;
  }
  .community-disabled {
    display: block;
    background: $community-disabled; 
  }

  .community-active,
  .community-disabled {
    padding: 15px;
  }
}

/*  Barra de ferramentas (download/Ler/Citar)
=====================================*/
.tool-bar {
  @include clear();
  width: 100%;
  
  .tool-align {
    padding-top: 10px;
  }
  .tool-item {
    display: block;
    font-size: 10pt;
    color: #000;
    text-decoration: none;
    padding: 10px 0 10px 25px;
    background-repeat: no-repeat;
    background-position: 0% 50%;

    &.print {
      background-image: url("../images/impressora.png");
      padding-left: 27px;
    }

    &.metadata {
      background-image: url("../images/metadados.png");
    }

    &.document {
      background-image: url("../images/documento.png");
    }
  }
}