@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
/* line 5, ../sass/core/helpers/_helpers.scss */
.content-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding: 0 15px;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.content-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  /* line 5, ../sass/core/helpers/_helpers.scss */
  .content-container {
    width: 960px;
    padding: 0 15px;
  }
}
@media (min-width: 960px) {
  /* line 5, ../sass/core/helpers/_helpers.scss */
  .content-container {
    width: 960px;
    padding: 0;
  }
}

/*  Imagens
=======================*/
/* line 32, ../sass/core/helpers/_helpers.scss */
.img-responsible {
  max-width: 100%;
}

/* line 1, ../sass/core/modules/general/_breadcrumbs.scss */
.page-breadcrumb {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 8pt;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.page-breadcrumb:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 7, ../sass/core/modules/general/_breadcrumbs.scss */
.page-breadcrumb a {
  color: #00520f;
  text-decoration: none;
}

/* line 1, ../sass/core/modules/general/_items.scss */
.image-responsible {
  width: 100%;
}

/* line 4, ../sass/core/modules/general/_items.scss */
.banner-content {
  width: 100%;
  padding-bottom: 26px;
}

/* line 8, ../sass/core/modules/general/_items.scss */
.slide-content {
  padding-bottom: 30px;
}

/* Slide
========================*/
/* line 14, ../sass/core/modules/general/_items.scss */
.fotorama__caption__wrap {
  font-weight: bold;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  width: 100%;
  color: #fff;
  padding: 15px;
}

/* line 24, ../sass/core/modules/general/_items.scss */
.fotorama__nav--dots .fotorama__nav__frame {
  background: #1f6012;
  padding: 0 4px;
}
/* line 28, ../sass/core/modules/general/_items.scss */
.fotorama__nav--dots .fotorama__nav__frame .fotorama__dot {
  background: #fff;
  display: block;
  width: 6px;
  height: 6px;
  position: relative;
  top: 12px;
  left: 6px;
  border-radius: 6px;
  border: 1px solid #fff;
}
/* line 40, ../sass/core/modules/general/_items.scss */
.fotorama__nav--dots .fotorama__nav__frame.fotorama__active {
  background: #ffb400;
}
/* line 42, ../sass/core/modules/general/_items.scss */
.fotorama__nav--dots .fotorama__nav__frame.fotorama__active .fotorama__dot {
  background: #1f6012;
  display: block;
  width: 6px;
  height: 6px;
  position: relative;
  top: 12px;
  left: 6px;
  border-radius: 6px;
  border: 1px solid #1f6012;
}

/* line 57, ../sass/core/modules/general/_items.scss */
.fotorama__nav-wrap {
  margin-top: -30px;
  float: right;
}

/* line 62, ../sass/core/modules/general/_items.scss */
.fotorama__nav .fotorama__nav--dots {
  float: right;
  width: auto !important;
}

/*  Barra padrão do governo
===========================*/
/* line 69, ../sass/core/modules/general/_items.scss */
.government-bar {
  background: #edeff1;
  font-size: 9pt;
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.government-bar:after, .government-bar:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}
/* line 73, ../sass/core/modules/general/_items.scss */
.government-bar.repositorio {
  border-bottom: 1px solid #195229;
}
/* line 77, ../sass/core/modules/general/_items.scss */
.government-bar a {
  padding: 7px 5px;
  color: #5d5d5d;
  border-right: 1px solid #d6dcd7;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}
/* line 85, ../sass/core/modules/general/_items.scss */
.government-bar a:nth-child(1n+3) {
  text-align: center;
}
/* line 90, ../sass/core/modules/general/_items.scss */
.government-bar .brazil-flag {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAATCAMAAAC5m+00AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACrUExURQCXSF27iQCWRQOWSQCWSRCdVACSSgCWRwCVSRKcVv/oAP/yAAIvh/bjBQKVTP/rAK3PF/3sARZBkg05ima2LCqiPg+ZRR9JoermBbGwLwEqkgCST1GwMRqdQZfIHdzgCSdSlTlYbEWrNyNKeouUPHOgtEJsn2WOrSClX2m/lF+6i3q8JsDVEBpCgWN2WefTD8i/IYSstzKmO3eIUaa2h3SOjfvlHjVfq6OmNShvDYIAAAFISURBVCjPbVHXksMgDNQBljC4l9iOndjp5VKv//+XnXByb7fDADO7rNAK9v4DngPv/h/24BHBuEhqB3pCeUxJIAWKtMZlIVCTciogH3yhWMpinM2t7ZctS5UgAR74kVICpMauNrfmaucTpMj5e+4VUNTOEvuzCoL8EvZLJCH1SIHAqKjtehowposwTmbIcqZIt+UpNV/3zWa3HYLp2sZ1gegoPXkNU5M238Ow3d132cIYEyel9MHDLo2NcX4519puPkPmbOIowrdTbGyTZXk2BEH1kZo4LPSjFgq2DFcVc3lWNZbt2rGWIIiwTOztzJZV9W77glCp8RsSNHdc1NfL6rxoxp5JCcmUC1cJjdx0GKZ1hxq0eqYBkuPlzLHrjXuiOAwaDUGQFJyWBpyU7EUaQI/xckGeA98jksqNQLmp8BnB4Xh8+ReHX640GNLt25uiAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
}

/* line 1, ../sass/core/modules/general/_banners.scss */
.page-banners {
  padding-bottom: 30px;
}

/*  Itens reutilizaveis
======================*/
/*  Header box placeholder
======================*/
/* line 7, ../sass/core/modules/reusable/_reusables.scss */
.content-box .header-box, .element-box .header-box, .page-sidebar .box .header {
  color: #00520f;
  background: #edeff1;
  border-top: 5px solid #00520f;
  padding-right: 10px;
}

/* line 14, ../sass/core/modules/reusable/_reusables.scss */
.content-box .footer-box {
  background: #edeff1;
  border-top: 1px solid #00520f;
  text-transform: uppercase;
  padding-right: 10px;
}

/*  Formulários
======================*/
/* line 35, ../sass/core/modules/reusable/_reusables.scss */
.label-control-block, .label-control, .label-control-right {
  font-size: 11pt;
  display: inline-block;
}

/*  Botões
======================*/
/* line 43, ../sass/core/modules/reusable/_reusables.scss */
.btn-register, .btn-submit, .btn-default, .btn-search {
  text-align: center;
  border: 1px solid;
  text-decoration: none;
}

/*  Imagen
======================*/
/* line 51, ../sass/core/modules/reusable/_reusables.scss */
.img-float-left {
  float: left;
  margin: 10px;
}

/* line 55, ../sass/core/modules/reusable/_reusables.scss */
.img-frame {
  border: 1px solid #d6dcd7;
}

/*  Bordas
======================*/
/* line 61, ../sass/core/modules/reusable/_reusables.scss */
.border-box {
  padding-bottom: 45px;
  border-bottom: 5px solid #00520f;
}

/* line 65, ../sass/core/modules/reusable/_reusables.scss */
.border-title-light {
  border-bottom: 1px solid #d6dcd7;
  padding-bottom: 15px;
}

/*  Caixas de conteúdo reutilizaveis
=====================================*/
/* line 3, ../sass/core/modules/reusable/_containers.scss */
.content-box {
  padding-bottom: 30px;
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.content-box:after, .content-box:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}
/* line 6, ../sass/core/modules/reusable/_containers.scss */
.content-box .header-box {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-top: 5px;
  padding-left: 8px;
  min-height: 64px;
  font-size: 20pt;
  font-weight: lighter;
  text-transform: none;
  margin-bottom: 20px;
}
/* line 16, ../sass/core/modules/reusable/_containers.scss */
.content-box .header-box.default {
  border-color: #3867b7;
  color: #3867b7;
}
/* line 20, ../sass/core/modules/reusable/_containers.scss */
.content-box .header-box.alert {
  border-color: #a41e22;
  color: #a41e22;
}
/* line 26, ../sass/core/modules/reusable/_containers.scss */
.content-box .footer-box {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-size: 8pt;
  text-align: right;
  padding: 10px;
  margin-top: 20px;
}
/* line 34, ../sass/core/modules/reusable/_containers.scss */
.content-box .footer-box.alert {
  border-color: #a41e22;
  padding: 0;
}
/* line 39, ../sass/core/modules/reusable/_containers.scss */
.content-box .footer-box a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding-right: 20px;
}
/* line 45, ../sass/core/modules/reusable/_containers.scss */
.content-box .footer-box .footer-content {
  background: url("../images/footer-seta.png") no-repeat;
  background-position: right;
  padding: 5px;
}

/*  Estilo da caixa de conteúdo
=====================================*/
/* line 54, ../sass/core/modules/reusable/_containers.scss */
.content-box {
  color: #172938;
}
/* line 55, ../sass/core/modules/reusable/_containers.scss */
.content-box h3 {
  font-size: 14pt;
}
/* line 58, ../sass/core/modules/reusable/_containers.scss */
.content-box p {
  font-size: 11pt;
  word-wrap: break-word;
}
/* line 62, ../sass/core/modules/reusable/_containers.scss */
.content-box a {
  color: #172938;
  text-decoration: none;
}
/* line 67, ../sass/core/modules/reusable/_containers.scss */
.content-box .small-type {
  color: #00520f;
  font-size: 9pt;
  font-weight: bold;
}

/*  Barra de ferramentas
=====================================*/
/* line 78, ../sass/core/modules/reusable/_containers.scss */
.tool-bar {
  width: 100%;
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.tool-bar:after, .tool-bar:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}
/* line 82, ../sass/core/modules/reusable/_containers.scss */
.tool-bar .tool-align {
  padding-top: 10px;
}
/* line 85, ../sass/core/modules/reusable/_containers.scss */
.tool-bar .tool-item {
  display: block;
  font-size: 10pt;
  color: #000;
  text-decoration: none;
  padding: 10px 0 10px 25px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
/* line 94, ../sass/core/modules/reusable/_containers.scss */
.tool-bar .tool-item.print {
  background-image: url("../images/impressora.png");
  padding-left: 27px;
}
/* line 99, ../sass/core/modules/reusable/_containers.scss */
.tool-bar .tool-item.metadata {
  background-image: url("../images/metadados.png");
}
/* line 103, ../sass/core/modules/reusable/_containers.scss */
.tool-bar .tool-item.document {
  background-image: url("../images/documento.png");
}

/*  Caixa default reutilizavel
=====================================*/
/* line 112, ../sass/core/modules/reusable/_containers.scss */
.default-box {
  color: #454545;
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.default-box:after, .default-box:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}
/* line 116, ../sass/core/modules/reusable/_containers.scss */
.default-box .text-right {
  text-align: right;
}
/* line 120, ../sass/core/modules/reusable/_containers.scss */
.default-box .header-box {
  width: 100%;
  background: #edeff1;
  font-size: 18pt;
  padding: 15px;
  border-bottom: 1px solid #454545;
}
/* line 128, ../sass/core/modules/reusable/_containers.scss */
.default-box .footer-box {
  width: 100%;
  font-size: 18pt;
  padding: 5px 15px 15px 15px;
  background: #edeff1;
  border-top: 1px solid #d6dcd7;
}
/* line 136, ../sass/core/modules/reusable/_containers.scss */
.default-box fieldset {
  background: #edeff1;
  padding: 5px 15px !important;
}
/* line 140, ../sass/core/modules/reusable/_containers.scss */
.default-box fieldset input[type='checkbox'] {
  margin: 5px 5px 5px 0;
}
/* line 144, ../sass/core/modules/reusable/_containers.scss */
.default-box fieldset .label-header {
  font-weight: bold;
}

/*  Formatação dos textos
===============================*/
/* line 3, ../sass/core/modules/reusable/_texts.scss */
.text-box .header-title {
  font-family: Arial, sans-serif;
  color: #172938;
  margin-top: 0;
}

/* line 9, ../sass/core/modules/reusable/_texts.scss */
.text-box .header-subtitle {
  font-size: 13pt;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  color: #172938;
}

/*  Listas
======================*/
/* line 4, ../sass/core/modules/reusable/_lists.scss */
.text-list {
  padding: 0;
  margin: 0 0 30px 0;
  display: block;
}

/* line 10, ../sass/core/modules/reusable/_lists.scss */
.text-list-item, .text-list-item-header, .text-list-item-simple-header, .text-list-item-indent {
  display: block;
  margin: 5px 0;
  color: #172938;
}

/* line 16, ../sass/core/modules/reusable/_lists.scss */
.text-list-item-header {
  font-weight: bold;
  font-weight: 13pt;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d6dcd7;
}

/* line 25, ../sass/core/modules/reusable/_lists.scss */
.text-list-item-simple-header {
  font-weight: bold;
  font-weight: 13pt;
}

/* line 31, ../sass/core/modules/reusable/_lists.scss */
.text-list-item-indent {
  padding-left: 20px;
}

/*  Listas com tempo
======================*/
/* line 42, ../sass/core/modules/reusable/_lists.scss */
.date-list,
.date-list-item {
  display: block;
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.date-list:after, .date-list:before,
.date-list-item:after,
.date-list-item:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}

/* line 48, ../sass/core/modules/reusable/_lists.scss */
.date-list-item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d6dcd7;
}
/* line 52, ../sass/core/modules/reusable/_lists.scss */
.date-list-item .date {
  padding: 30px 0;
  text-align: center;
  font-size: 10pt;
  color: #5d5d5d;
}
/* line 57, ../sass/core/modules/reusable/_lists.scss */
.date-list-item .date span {
  display: block;
}
/* line 60, ../sass/core/modules/reusable/_lists.scss */
.date-list-item .date .year {
  background: url("../images/data.png") no-repeat;
  background-position: center left;
  background-size: 30%;
  padding: 5px 30px;
}
/* line 66, ../sass/core/modules/reusable/_lists.scss */
.date-list-item .date .hour {
  background: url("../images/hora.png") no-repeat;
  background-position: center left;
  background-size: 30%;
  padding: 5px 30px;
}
/* line 75, ../sass/core/modules/reusable/_lists.scss */
.date-list-item .image img {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  display: block;
}
/* line 83, ../sass/core/modules/reusable/_lists.scss */
.date-list-item .text {
  color: #172938;
}

/* line 1, ../sass/core/modules/reusable/_buttons.scss */
.btn-register {
  text-transform: uppercase;
  font-size: 14pt;
  background: #3867b7;
  padding: 8px 30px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

/* line 15, ../sass/core/modules/reusable/_buttons.scss */
.btn-submit {
  font-size: 11pt;
  background: #3867b7;
  padding: 5px 15px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  text-align: right;
}

/* line 26, ../sass/core/modules/reusable/_buttons.scss */
.btn-default {
  background: #7d7d7d;
  border: #7d7d7d;
  color: #fff;
  font-size: 10pt;
  text-decoration: none;
  border-radius: 5px;
  padding: 3px 20px;
}

/* line 37, ../sass/core/modules/reusable/_buttons.scss */
.btn-large {
  font-size: 11pt;
  text-transform: uppercase;
  padding: 5px 15px;
}

/*  Caixa de elemento
======================*/
/* line 3, ../sass/core/modules/reusable/_boxes.scss */
.element-box {
  background: #edeff1;
  margin-bottom: 30px;
}
/* line 6, ../sass/core/modules/reusable/_boxes.scss */
.element-box .header-box {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 55px;
  font-size: 20pt;
  font-weight: lighter;
  text-transform: none;
}

/*  Busca personalizada
======================*/
/* line 22, ../sass/core/modules/reusable/_boxes.scss */
.form-custom-search .input-control, .form-custom-search .input-inline {
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-right: 0;
  border-right: 0;
  border-radius: 5px 0 0 5px;
}
@media (min-width: 768px) {
  /* line 22, ../sass/core/modules/reusable/_boxes.scss */
  .form-custom-search .input-control, .form-custom-search .input-inline {
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
/* line 32, ../sass/core/modules/reusable/_boxes.scss */
.form-custom-search .list-input-custom {
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  border-top: 1px solid #d6dcd7;
  border-bottom: 1px solid #d6dcd7;
  border-right: 1px solid #d6dcd7;
  border-left: 0;
  display: block;
  margin: 0;
  padding: 0;
  background: #fff;
  text-align: right;
  border-radius: 0 5px 5px 0;
}
@media (min-width: 768px) {
  /* line 32, ../sass/core/modules/reusable/_boxes.scss */
  .form-custom-search .list-input-custom {
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
/* line 48, ../sass/core/modules/reusable/_boxes.scss */
.form-custom-search .list-input-custom .item {
  display: inline-block;
  padding: 4px 10px;
  margin: 4px 0;
  border-left: 1px solid #d6dcd7;
  font-weight: lighter;
}
/* line 55, ../sass/core/modules/reusable/_boxes.scss */
.form-custom-search .list-input-custom .item:first-child {
  padding-right: 0;
}
/* line 58, ../sass/core/modules/reusable/_boxes.scss */
.form-custom-search .list-input-custom .item:last-child {
  padding: 0 10px;
  margin: 0;
}
/* line 63, ../sass/core/modules/reusable/_boxes.scss */
.form-custom-search .list-input-custom .item .button-search {
  background: url("../images/search-button.gif") no-repeat;
  background-position: center center;
  height: 20px;
  width: 20px;
  border: 0;
}
/* line 72, ../sass/core/modules/reusable/_boxes.scss */
.form-custom-search .list-input-custom .item .search-type input[type="checkbox"] {
  display: none;
}
/* line 76, ../sass/core/modules/reusable/_boxes.scss */
.form-custom-search .list-input-custom .item .search-type input:checked ~ span {
  font-weight: bold;
  font-size: 12pt;
}

/*  Ícones de comunidades
======================*/
/* line 22, ../sass/core/helpers/_helpers.scss */
.community-icons:after, .community-icons:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}
/* line 90, ../sass/core/modules/reusable/_boxes.scss */
.community-icons > div {
  padding-bottom: 1.66666%;
}
/* line 94, ../sass/core/modules/reusable/_boxes.scss */
.community-icons img {
  display: block;
  margin: 0 auto;
}

/*  Caixa de texto externa
===========================*/
/* line 3, ../sass/core/modules/pages/_news.scss */
.text-box {
  display: block;
  font-size: 15px;
  margin-bottom: 30px;
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.text-box:after, .text-box:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}
/* line 8, ../sass/core/modules/pages/_news.scss */
.text-box .header-title.large-size {
  font-size: 28pt;
}
/* line 11, ../sass/core/modules/pages/_news.scss */
.text-box .header-title.mid-size {
  font-size: 18pt;
}
/* line 15, ../sass/core/modules/pages/_news.scss */
.text-box .header-subtitle {
  margin-top: 30px;
}

/*  Caixa de texto interna
===========================*/
/* line 22, ../sass/core/helpers/_helpers.scss */
.text-box-content:after, .text-box-content:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}

/* line 31, ../sass/core/modules/pages/_news.scss */
.text-box-title {
  color: #172938;
}
/* line 33, ../sass/core/modules/pages/_news.scss */
.text-box-title.large-size {
  font-size: 28pt;
}
/* line 36, ../sass/core/modules/pages/_news.scss */
.text-box-title.mid-size {
  font-size: 18pt;
}

/*  Formulários
======================*/
/* line 3, ../sass/core/modules/forms/_forms.scss */
.form-control, .form-custom-search {
  display: block;
  font-size: 13pt;
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.form-control:after, .form-custom-search:after, .form-control:before, .form-custom-search:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}
/* line 8, ../sass/core/modules/forms/_forms.scss */
.form-control fieldset, .form-custom-search fieldset {
  border: 0;
  margin: 0;
  padding: 10px 0;
}
/* line 12, ../sass/core/modules/forms/_forms.scss */
.form-control fieldset legend, .form-custom-search fieldset legend {
  font-size: 15pt;
  color: #172938;
  border-bottom: 1px solid #d6dcd7;
  display: block;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/*  Formulário (element-box)
======================*/
/* line 26, ../sass/core/modules/forms/_forms.scss */
.form-custom-search {
  padding: 10px;
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.form-custom-search:after, .form-custom-search:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}

/*  Form-default color
======================*/
/* line 34, ../sass/core/modules/forms/_forms.scss */
.form-control-default {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-size: 13pt;
  background: #edeff1;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 41, ../sass/core/modules/forms/_forms.scss */
.form-control-default fieldset {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  border: 0;
}
/* line 49, ../sass/core/modules/forms/_forms.scss */
.form-control-default legend {
  font-weight: bold;
  padding: 10px 0;
}

/*  Inputs
======================*/
/* line 22, ../sass/core/helpers/_helpers.scss */
.input-container:after, .input-container:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}

/* line 63, ../sass/core/modules/forms/_forms.scss */
.input-control, .input-inline {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #d6dcd7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 76, ../sass/core/modules/forms/_forms.scss */
.input-inline {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/*  Labels
======================*/
/* line 86, ../sass/core/modules/forms/_forms.scss */
.label-control-block {
  display: block;
}

/* line 95, ../sass/core/modules/forms/_forms.scss */
.label-control-right {
  text-align: right;
}

/* line 100, ../sass/core/modules/forms/_forms.scss */
.required:before {
  content: "*";
  color: #3867b7;
}

/*  Botões
======================*/
/* line 107, ../sass/core/modules/forms/_forms.scss */
.btn-search {
  color: #fff;
  font-size: 10pt;
  text-transform: uppercase;
  background: #7d7d7d;
  border-color: #7d7d7d;
  padding: 5px 15px;
}

/*  Formulário de login
============================*/
/* line 119, ../sass/core/modules/forms/_forms.scss */
.form-login {
  font-size: 9pt;
}
/* line 122, ../sass/core/modules/forms/_forms.scss */
.form-login label {
  font-size: 9pt;
  margin-right: 5px;
  margin-left: 10px;
  display: block;
}
@media (min-width: 768px) {
  /* line 122, ../sass/core/modules/forms/_forms.scss */
  .form-login label {
    display: inline-block;
    width: 37%;
  }
}
/* line 133, ../sass/core/modules/forms/_forms.scss */
.form-login input {
  color: #454545;
  padding: 0 3px;
  margin: 5px 0;
  font-size: 9pt;
  border: 0;
  outline: none;
  border-radius: 10px;
  width: 100%;
  display: block;
}
@media (min-width: 768px) {
  /* line 133, ../sass/core/modules/forms/_forms.scss */
  .form-login input {
    display: inline-block;
    width: 75%;
    margin: 0;
  }
}
/* line 150, ../sass/core/modules/forms/_forms.scss */
.form-login .btn-submit {
  background: #f0f0f0;
  color: inherit;
  border: 0;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 9pt;
}
@media (min-width: 768px) {
  /* line 119, ../sass/core/modules/forms/_forms.scss */
  .form-login {
    display: inline-block;
    margin-left: 20px;
  }
}

/* line 166, ../sass/core/modules/forms/_forms.scss */
.portal .form-login .btn-submit {
  background: #fff;
  color: #00420c;
}

/*  Formulário de busca (header)
============================*/
/* line 174, ../sass/core/modules/forms/_forms.scss */
.form-search-header {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #454545;
  font-size: 9pt;
}
@media (min-width: 768px) {
  /* line 174, ../sass/core/modules/forms/_forms.scss */
  .form-search-header {
    width: 33.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.form-search-header:after, .form-search-header:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}

/* line 187, ../sass/core/modules/forms/_forms.scss */
.search-input-header {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #00520f;
}
@media (min-width: 768px) {
  /* line 187, ../sass/core/modules/forms/_forms.scss */
  .search-input-header {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

/* line 197, ../sass/core/modules/forms/_forms.scss */
.search-button {
  width: 37px;
  background: url("../images/search-button.gif") no-repeat;
  background-position: center center;
  border: 0;
  height: 40px;
  margin-left: -40px;
}

@media (max-width: 768px) {
  /* line 3, ../sass/core/modules/misc/_state.scss */
  .xs-hide {
    display: none;
  }
}
/*  Colunas utilizaveis em caixas
=====================================*/
@media (min-width: 768px) {
  /* line 4, ../sass/core/helpers/_grid.scss */
  div > .mid-4:nth-child(4n) {
    clear: left;
  }

  /* line 7, ../sass/core/helpers/_grid.scss */
  .mid-12 {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 9, ../sass/core/helpers/_grid.scss */
  .mid-12.last {
    width: 100%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 13, ../sass/core/helpers/_grid.scss */
  .mid-11 {
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 15, ../sass/core/helpers/_grid.scss */
  .mid-11.last {
    width: 91.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 19, ../sass/core/helpers/_grid.scss */
  .mid-10 {
    width: 83.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 21, ../sass/core/helpers/_grid.scss */
  .mid-10.last {
    width: 83.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 25, ../sass/core/helpers/_grid.scss */
  .mid-9 {
    width: 75%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 27, ../sass/core/helpers/_grid.scss */
  .mid-9.last {
    width: 75%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 31, ../sass/core/helpers/_grid.scss */
  .mid-8 {
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 33, ../sass/core/helpers/_grid.scss */
  .mid-8.last {
    width: 66.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 37, ../sass/core/helpers/_grid.scss */
  .mid-7 {
    width: 58.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 39, ../sass/core/helpers/_grid.scss */
  .mid-7.last {
    width: 58.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 43, ../sass/core/helpers/_grid.scss */
  .mid-6 {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 45, ../sass/core/helpers/_grid.scss */
  .mid-6.first {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 0;
    padding-left: 0;
  }
  /* line 50, ../sass/core/helpers/_grid.scss */
  .mid-6.last {
    width: 50%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 54, ../sass/core/helpers/_grid.scss */
  .mid-5 {
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 56, ../sass/core/helpers/_grid.scss */
  .mid-5.last {
    width: 41.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 60, ../sass/core/helpers/_grid.scss */
  .mid-4 {
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 62, ../sass/core/helpers/_grid.scss */
  .mid-4.last {
    width: 33.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 66, ../sass/core/helpers/_grid.scss */
  .mid-3 {
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 68, ../sass/core/helpers/_grid.scss */
  .mid-3.last {
    width: 25%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 72, ../sass/core/helpers/_grid.scss */
  .mid-2 {
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 74, ../sass/core/helpers/_grid.scss */
  .mid-2.last {
    width: 16.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 78, ../sass/core/helpers/_grid.scss */
  .mid-1 {
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 80, ../sass/core/helpers/_grid.scss */
  .mid-1.last {
    width: 8.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@media (max-width: 768px) {
  /* line 87, ../sass/core/helpers/_grid.scss */
  div > .xs-6:nth-child(2n) {
    clear: right;
  }

  /* line 90, ../sass/core/helpers/_grid.scss */
  .xs-6 {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 93, ../sass/core/helpers/_grid.scss */
  .xs-5 {
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 96, ../sass/core/helpers/_grid.scss */
  .xs-4 {
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 99, ../sass/core/helpers/_grid.scss */
  .xs-3 {
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 102, ../sass/core/helpers/_grid.scss */
  .xs-2 {
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 105, ../sass/core/helpers/_grid.scss */
  .xs-1 {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
/* line 2, ../sass/core/containers/_header.scss */
.magazine {
  color: #5d5d5d;
}
/* line 4, ../sass/core/containers/_header.scss */
.magazine a {
  color: inherit;
  text-decoration: none;
}

/* line 9, ../sass/core/containers/_header.scss */
.portal {
  color: #fff;
}
/* line 11, ../sass/core/containers/_header.scss */
.portal a {
  color: inherit;
  text-decoration: none;
}

/* line 17, ../sass/core/containers/_header.scss */
.repositorio {
  color: #195229;
}
/* line 19, ../sass/core/containers/_header.scss */
.repositorio a {
  color: inherit;
  text-decoration: none;
}

/* line 26, ../sass/core/containers/_header.scss */
.language-bar {
  width: 100%;
  text-align: center;
  font-size: 10pt;
}
@media (min-width: 768px) {
  /* line 26, ../sass/core/containers/_header.scss */
  .language-bar {
    width: 50%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    text-align: right;
    display: inline-block;
  }
}

/* line 39, ../sass/core/containers/_header.scss */
.accessibility-bar {
  width: 100%;
  text-align: center;
  font-size: 8pt;
}
@media (min-width: 768px) {
  /* line 39, ../sass/core/containers/_header.scss */
  .accessibility-bar {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    text-align: left;
    display: inline-block;
  }
}

/* line 51, ../sass/core/containers/_header.scss */
.link-list {
  display: inline-block;
  margin: 0 0 0 24px;
  padding: 0;
}
/* line 56, ../sass/core/containers/_header.scss */
.link-list .item {
  display: inline-block;
  margin-left: 13px;
  margin-right: 0;
  padding: 0;
}
/* line 61, ../sass/core/containers/_header.scss */
.link-list .item.first {
  margin: 0;
}
/* line 66, ../sass/core/containers/_header.scss */
.link-list.first {
  margin: 0;
}

/*
Container das redes sociais
============================*/
/* line 75, ../sass/core/containers/_header.scss */
.media-container {
  margin-top: -20px;
}
@media (min-width: 768px) {
  /* line 75, ../sass/core/containers/_header.scss */
  .media-container {
    width: 33.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

/*  Icones sociais
===========================*/
/* line 84, ../sass/core/containers/_header.scss */
.social {
  width: 22px;
  height: 22px;
  margin-left: 5px;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  float: right;
  background-position: center;
  background-size: cover;
}

/*  Icones nas Revistas
===========================*/
/* line 97, ../sass/core/containers/_header.scss */
.facebook {
  background: url("../images/facebook.png") no-repeat;
}

/* line 100, ../sass/core/containers/_header.scss */
.twitter {
  background: url("../images/twitter.png") no-repeat;
}

/* line 103, ../sass/core/containers/_header.scss */
.youtube {
  background: url("../images/youtube-magazine.png") no-repeat;
}

/* line 107, ../sass/core/containers/_header.scss */
.flikr {
  background: url("../images/flikr-magazine.png") no-repeat;
}

/*  Icones no Portal
===========================*/
/* line 113, ../sass/core/containers/_header.scss */
.portal {
  background: red;
}
/* line 115, ../sass/core/containers/_header.scss */
.portal .facebook {
  background: url("../images/facebook-portal.png") no-repeat;
}
/* line 118, ../sass/core/containers/_header.scss */
.portal .twitter {
  background: url("../images/twitter-portal.png") no-repeat;
}
/* line 121, ../sass/core/containers/_header.scss */
.portal .youtube {
  background: url("../images/youtube-portal.png") no-repeat;
}
/* line 125, ../sass/core/containers/_header.scss */
.portal .flikr {
  background: url("../images/flikr-portal.png") no-repeat;
}

/*Container do header
============================*/
/* line 132, ../sass/core/containers/_header.scss */
.page-header {
  padding-top: 15px;
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.page-header:after, .page-header:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}
/* line 136, ../sass/core/containers/_header.scss */
.page-header.portal {
  background: linear-gradient(to top, #00510f, #17882c);
}
/* line 140, ../sass/core/containers/_header.scss */
.page-header.magazine {
  background: #fff;
}
/* line 144, ../sass/core/containers/_header.scss */
.page-header.repositorio {
  background: #ECEDF1;
}

/*  Conteúdo central do header
============================*/
/* line 151, ../sass/core/containers/_header.scss */
.center-content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.center-content:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 155, ../sass/core/containers/_header.scss */
.center-content .header-logo {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  min-height: 90px;
}
@media (min-width: 768px) {
  /* line 155, ../sass/core/containers/_header.scss */
  .center-content .header-logo {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

/* line 165, ../sass/core/containers/_header.scss */
.header-logo span {
  font-size: 9pt;
  text-transform: uppercase;
}
/* line 169, ../sass/core/containers/_header.scss */
.header-logo .page-name {
  font-size: 36pt;
  line-height: 36pt;
  margin: 0;
}
/* line 173, ../sass/core/containers/_header.scss */
.header-logo .page-name.default {
  line-height: 50pt;
}

/*  Barra de Login-Logout
============================*/
/* line 181, ../sass/core/containers/_header.scss */
.actions-bar {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 4px 0;
  margin-top: 15px;
  font-size: 9pt;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 181, ../sass/core/containers/_header.scss */
  .actions-bar {
    text-align: right;
  }
}

/* line 191, ../sass/core/containers/_header.scss */
.portal .actions-bar {
  background: #01430c;
}

/* line 195, ../sass/core/containers/_header.scss */
.magazine .actions-bar {
  background-image: linear-gradient(to bottom, #e8e8ea, #cfcec9);
}

/* line 199, ../sass/core/containers/_header.scss */
.repositorio .actions-bar {
  background: linear-gradient(to bottom, #DBDCE1, #DBDCE1 80%, #C4C6C5);
}

/*  Lista do menu superior (action)
============================*/
/* line 205, ../sass/core/containers/_header.scss */
.actions-bar .list-menu {
  padding: 0;
  margin: 0;
  text-align: left;
  display: block;
}
/* line 211, ../sass/core/containers/_header.scss */
.actions-bar .list-menu .item {
  display: inline-block;
  border-right: 1px solid #C4C6C5;
  padding: 0 8px;
}
/* line 215, ../sass/core/containers/_header.scss */
.actions-bar .list-menu .item:first-child {
  padding-left: 0;
}
/* line 218, ../sass/core/containers/_header.scss */
.actions-bar .list-menu .item:last-child {
  border: 0;
  padding-right: 0;
}

/* line 1, ../sass/core/containers/_sidebar.scss */
.page-sidebar {
  display: none;
}
/* line 3, ../sass/core/containers/_sidebar.scss */
.page-sidebar .sidebar-top {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  /* line 1, ../sass/core/containers/_sidebar.scss */
  .page-sidebar {
    max-width: 220px;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    display: block;
  }
}

/* line 14, ../sass/core/containers/_sidebar.scss */
.page-sidebar .box {
  padding: 0;
  margin: 0;
  display: block;
  margin-bottom: 40px;
}
/* line 20, ../sass/core/containers/_sidebar.scss */
.page-sidebar .box .item {
  display: block;
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6dcd7;
  font-size: 12pt;
}
/* line 27, ../sass/core/containers/_sidebar.scss */
.page-sidebar .box .item a {
  display: block;
  color: #5d5d5d;
  text-decoration: none;
}
/* line 34, ../sass/core/containers/_sidebar.scss */
.page-sidebar .box .header {
  padding-top: 5px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

/*  Caixa central (míolo)
===============================*/
@media (min-width: 768px) {
  /* line 3, ../sass/core/containers/_content.scss */
  .main-content {
    width: 75%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

@media (min-width: 768px) {
  /* line 9, ../sass/core/containers/_content.scss */
  .main-content-block {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 1, ../sass/core/containers/_footer.scss */
.page-footer {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  background: #00520f;
  color: #fff;
  padding: 10px 0;
  margin-top: 30px;
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.page-footer:after, .page-footer:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}
/* line 9, ../sass/core/containers/_footer.scss */
.page-footer.repositorio {
  background: #ECEDF1;
  color: #195229;
}

/* line 15, ../sass/core/containers/_footer.scss */
.sub-footer {
  background: #00420c;
  padding: 15px 0;
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.sub-footer:after, .sub-footer:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}
/* line 20, ../sass/core/containers/_footer.scss */
.sub-footer .left {
  float: left;
}
/* line 24, ../sass/core/containers/_footer.scss */
.sub-footer .right {
  float: right;
}

/* line 29, ../sass/core/containers/_footer.scss */
.footer-box {
  display: inline-block;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (min-width: 768px) {
  /* line 29, ../sass/core/containers/_footer.scss */
  .footer-box {
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    text-align: left;
  }
}
/* line 22, ../sass/core/helpers/_helpers.scss */
.footer-box:after, .footer-box:before {
  clear: both;
  display: table;
  content: ' ';
  zoom: 1;
}
/* line 39, ../sass/core/containers/_footer.scss */
.footer-box .title {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 43, ../sass/core/containers/_footer.scss */
.footer-box .title h4 {
  margin: 0;
  padding-top: 0;
}
/* line 49, ../sass/core/containers/_footer.scss */
.footer-box .title,
.footer-box .item {
  list-style: none;
  display: block;
}
/* line 54, ../sass/core/containers/_footer.scss */
.footer-box .title a,
.footer-box .item a {
  color: inherit;
  text-decoration: none;
}
/* line 57, ../sass/core/containers/_footer.scss */
.footer-box .title a:hover,
.footer-box .item a:hover {
  text-decoration: underline;
}
/* line 63, ../sass/core/containers/_footer.scss */
.footer-box .item {
  font-size: 9pt;
  padding-bottom: 5px;
  display: block;
}
/* line 70, ../sass/core/containers/_footer.scss */
.footer-box .footer-box {
  width: 100%;
  margin-top: 20px;
}

/* line 21, ../../../../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.5/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/core/_application.scss */
html, body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Open Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
}
