/*  Caixa de texto externa
===========================*/
.text-box {
  .header-title {
    @extend %text-box-title;
    &.large-size {
      font-size: 28pt;
    }
    &.mid-size {
      font-size: 18pt;
    }
  }
  .header-subtitle {
    @extend %text-box-subtitle;
    margin-top: 30px;
  }

  font-size: 15px;
  margin-bottom: 30px;
}



/*  Caixa de texto interna
===========================*/
.text-box-content {
  @include clear();
}
.text-box-title  {
  color: $text;
  &.large-size {
    font-size: 28pt;
  }
  &.mid-size {
    font-size: 18pt;
  }
}