/*  Caixa para elemento interno
=====================================*/
.element-box {
  background: $grey;
  margin-bottom: 30px;
  @extend %header;
  padding: 0;
  @include clear();
  .header-box {
    @include span(12);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 55px;
    font-size: 20pt;
    font-weight: lighter;
    text-transform: none;
  }
  .element-container {
    padding: 8px;
  }
}

/*  Caixa de texto externa
=====================================*/
.text-box {
  display: block;
  @include clear;
  .header-content-type {
    font-size: 13pt;
    // font-weight: bold;
    text-transform: uppercase;
    color: $default-green;
    margin-bottom: 10px;
    display: inline-block;
  }
  .header-title {
    @extend %text-box-title;
    &.large-size {
      font-size: 26pt;
    }
    &.mid-size {
      font-size: 16pt;
    }
  }
  .header-subtitle {
    @extend %text-box-subtitle;
    margin-top: 20px;
  }

  font-size: 15px;
  margin-bottom: 30px;
}


/*  Caixa de texto interna
=====================================*/
.text-box-content {
  @include clear();
}
.text-box-title  {
  color: $text;
  &.large-size {
    font-size: 26pt;
  }
  &.mid-size {
    font-size: 18pt;
  }
}


/*  Caixas de conteúdo reutilizável
=====================================*/
.content-box {
  padding-bottom: 30px;
  @include clear();
  .header-box {
    @extend %header;
    @include span(12);
    padding-top: 5px;
    padding-left: 8px;
    min-height: 64px;
    font-size: 20pt;
    font-weight: lighter;
    text-transform: none;
    margin-bottom: 20px;
    &.default {
      border-color: $blue;
      color: $blue;
    }
    &.alert {
      border-color: $red;
      color: $red;
    }
  }

  .footer-box {
    @extend %footer;
    @include span(12);
    font-size: 8pt;
    text-align: right;
    padding: 10px;
    margin-top: 20px;

    &.alert {
      border-color: $red;
      padding: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding-right: 20px;
    }
    .footer-content {
      background: url("../images/footer-seta.png") no-repeat;
      background-position: right;
      padding: 5px;
    }
    .footer-pagination {
      display: inline-block;
      padding: 0;
      margin: 0;
      .item {
        display: inline-block;
        margin: 0 8px;
        a {
          padding: 0;
          text-decoration: underline;
        }
        .first {
          padding-left: 25px;
          background: url("../images/footer-seta.png") no-repeat;
          background-position: left center;
          text-decoration: none;
        }
        .last {
          padding-right: 25px;
          background: url("../images/footer-seta.png") no-repeat;
          background-position: right center;
          text-decoration: none;
        }
      }
    }
  }
}

/*  Estilo da caixa de conteúdo
=====================================*/
.content-box {
  h3 {
    font-size: 14pt;
  }
  p {
    font-size: 11pt;
    word-wrap: break-word;
  }
  a {
    color: $text;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .small-type {
    color: $default-green;
    font-size: 9pt;
    font-weight: bold;
  }
  color: $text;
}

/*  Caixa default reutilizavel
=====================================*/

.default-box {
  @include clear();
  font-size: 11pt;
  color: $text-dark-grey;
  background: $grey;
  padding: 10px;
  border-radius: 5px;

  a {
    color: $text-dark-grey;
  }

  .text-right {
    text-align: right;
  }

  .header-box {
    width: 100%;
    display: block;
    background: $grey;
    font-size: 11pt;
    border-bottom: 1px solid $text-dark-grey;
    text-transform: uppercase;
    padding-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;

  }

  .footer-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    background: $grey;
    border-top: 1px solid $boder-ligthen-grey;
    .footer-title {
      font-size: 11pt; 
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  fieldset {
    background: $grey;
    padding: 5px 15px !important;

    input[type='checkbox'] {
      margin: 5px 5px 5px 0;
    }

    .label-header {
      font-weight: bold;
    }
  }
}
