/*  Caixas de conteúdo reutilizaveis
=====================================*/
.content-box {
  padding-bottom: 30px;
  @include clear();
  .header-box {
    @extend %header;
    @include span(12);
    padding-top: 5px;
    padding-left: 8px;
    min-height: 64px;
    font-size: 20pt;
    font-weight: lighter;
    text-transform: none;
    margin-bottom: 20px;
    &.default {
      border-color: $blue;
      color: $blue;
    }
    &.alert {
      border-color: $red;
      color: $red;
    }
  }

  .footer-box {
    @extend %footer;
    @include span(12);
    font-size: 8pt;
    text-align: right;
    padding: 10px;
    margin-top: 20px;

    &.alert {
      border-color: $red;
      padding: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding-right: 20px;
    }
    .footer-content {
      background: url("../images/footer-seta.png") no-repeat;
      background-position: right;
      padding: 5px;
    }
  }
}
/*  Estilo da caixa de conteúdo
=====================================*/
.content-box {
  h3 {
    font-size: 14pt;
  }
  p {
    font-size: 11pt;
  }
  a {
    color: $text;
    text-decoration: none;
  }
  color: $text;
}


/*  Barra de ferramentas
=====================================*/
.tool-bar {
  @include clear();
  width: 100%;
  
  .tool-align {
    padding-top: 10px;
  }
  .tool-item {
    display: block;
    font-size: 10pt;
    color: #000;
    text-decoration: none;
    padding: 10px 0 10px 25px;
    background-repeat: no-repeat;
    background-position: 0% 50%;

    &.print {
      background-image: url("../images/impressora.png");
      padding-left: 27px;
    }

    &.metadata {
      background-image: url("../images/metadados.png");
    }

    &.document {
      background-image: url("../images/documento.png");
    }
  }
}

/*  Caixa default reutilizavel
=====================================*/

.default-box {
  @include clear();
  color: $text-dark-grey;

  .text-right {
    text-align: right;
  }

  .header-box {
    width: 100%;
    background: $grey;
    font-size: 18pt;
    padding: 15px;
    border-bottom: 1px solid $text-dark-grey;
  }

  .footer-box {
    width: 100%;
    font-size: 18pt;
    padding: 5px 15px 15px 15px;
    background: $grey;
    border-top: 1px solid $boder-ligthen-grey;
  }

  fieldset {
    background: $grey;
    padding: 5px 15px !important;

    input[type='checkbox'] {
      margin: 5px 5px 5px 0;
    }

    .label-header {
      font-weight: bold;
    }
  }
}
