/*  Itens reutilizaveis
======================*/


/*  Header box placeholder
======================*/
%header {
  color: $default-green;
  background: $grey;
  border-top: 5px solid $default-green;
  padding-right: 10px;
}

%footer {
  background: $grey;
  border-top: 1px solid $default-green;
  text-transform: uppercase;
  padding-right: 10px;
}


/*  Formulários
======================*/
%label {
  font-size: 11pt;
  // margin: 10px 0;
  display: inline-block;
}

/*  Botões
======================*/
%button {
  text-align: center;
  border: 1px solid;
  text-decoration: none;
}



@import "texts";
@import "lists";
@import "buttons";
@import "boxes";

