/*  Colunas utilizaveis em caixas
=====================================*/
@media (min-width: $screen-mid-size) {
  .mid-12 {
    @include span(12);
    &.last {
      @include span(12 last);
    }
  }
  .mid-11 {
    @include span(11);
    &.last {
      @include span(11 last);
    }
  }
  .mid-10 {
    @include span(10);
    &.last {
      @include span(10 last);
    }
  }
  .mid-9 {
    @include span(9);
    &.last {
      @include span(9 last);
    }
  }
  .mid-8 {
    @include span(8);
    &.last {
      @include span(8 last);
    }
  }
  .mid-7 {
    @include span(7);
    &.last {
      @include span(7 last);
    }
  }  
  .mid-6 {
    @include span(6);
    &.first {
      @include span(6);
      margin-left: 0;
      padding-left: 0;
    }
    &.last {
      @include span(6 last);
    }
  }
  .mid-5 {
    @include span(5);
    &.last {
      @include span(5 last);
    }
  }
  .mid-4 {
    @include span(4);
    &.last {
      @include span(4 last);
    }
  }
  .mid-3 {
    @include span(3);
    &.last {
      @include span(3 last);
    }
  }
  .mid-2 {
    @include span(2);
    &.last {
      @include span(2 last);
    }
  }
  .mid-1 {
    @include span(1);
    &.last {
      @include span(1 last);
    }
  }

  div > .mid-4:nth-child(4n),
  section > .mid-4:nth-child(4n){
    clear: left;
  }
}

@media (max-width: $screen-mid-size) {
  div > .xs-6:nth-child(2n) {
    clear: right;
  }
  .xs-6 {
    @include span(6);
  }
  .xs-5 {
    @include span(5);
  }
  .xs-4 {
    @include span(4);
  }  
  .xs-3 {
    @include span(3);
  }
  .xs-2 {
    @include span(2);
  }
  .xs-1 {
    @include span(12);
  }  
}
