@import "variables";
@import "helpers/helpers";
@import "modules/modules";
@import "helpers/grid";
@import "containers/containers";
@include border-box-sizing;


html, body {
  height: 100%;
  font-size: 62.5%;;
  font-family: 'Open Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
}


div, img {
  // border: 1px solid red;
}

fieldset, label {
  // border: 1px solid blue !important;
}

input {
  // border: 1px solid green !important;
}