//Pontos de quebra
$page-container-size: 960px;
$screen-mid-size: 768px;
$screen-large-size: 960px;

//Tamanhos e espaçamentos
$space: 20px;

//Cores
$default-green: #00520f;
$dark-green: #00420c;

$grey: #edeff1;
$dark-grey: #7d7d7d;
$text-grey: #5d5d5d;
$text-dark-grey: #454545;


$blue: #3867b7;
$red: #a41e22;

$text: #172938;
$font-size: 16pt;


//Temas
$text-portal-color: #fff;
$text-magazine-color: #5d5d5d;

//Cores de botões
$button-magazine: #f0f0f0;

//aka
$header-padding-bottom: 20px;

//bordas
$boder-ligthen-grey: #d6dcd7;